<div id="main-center">
  <h1>Organizer: Projects to Volunteers</h1>
</div>

<div class="row">
  <div class="col-md">
    <h2>Project List</h2>
    <% if @projects.any? %>
      <ul>
        <% @projects.each do |proj| %>
          <li><a href="project/<%= proj.id %>"><%= proj.title %></a></li>
        <% end %>
      </ul>
      <% else %>
        <p>There are no projects available at this time.</p>
    <% end %>

  </div>
  <div class="col-md">
    <h2>Add a project<h2>
      <form action="/projects" method="post">
        <div class="form-group">
          <label for="project_title">Project Name</label>
          <input reqiured id="n" name="project_title" class="form-control" type="text">
        </div>
        <button type="submit"class="btn btn-primary">Create Project</button>
      </form>
  </div>
</div>